{% extends 'base.html' %}

{% block title %}
  &lt;reddit&gt; Hearthstone Tournaments
{% endblock %}

{% block content %}
  <h1 class="text-center">Hey.  &lt;reddit&gt; Hearthstone Tournaments</h1>
  <div class="text-center"> 
    <img src="http://www.textfiles.com/underconstruction/MoMotorCity4109construct.gif">
  </div>

  <br><br><br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
	<div class="panel-heading">
          <h3 class="panel-title">Open Tournaments</h3>
	</div>
	<div class="panel-body">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
              <h3 class="panel-title">&lt;reddit&gt; Hearthstone Tournament #3 (Links to bracket)</h3>
	    </div>
	    <div class="panel-body">
              Players: 42
	      <br>
	      Started: 10 Jun 2015
	      <br>
	      Round: 5
	      <br>
	      Next round in: 3 days
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
	<div class="panel-heading">
          <h3 class="panel-title">Completed Tournaments</h3>
	</div>
	<div class="panel-body">
	  <div class="panel panel-success">
	    <div class="panel-heading">
              <h3 class="panel-title">&lt;reddit&gt; Hearthstone Tournament #2 (Links to bracket)</h3>
	    </div>
	    <div class="panel-body">
              Players: 5
	      <br>
	      Winner: Romand (Links to their profile)
	    </div>
	  </div>  
	</div>
      </div>
    </div>
  </div>
{% endblock %}
